@font-face {
  font-family: 'Ping Icons';
  src:
    url('./fonts/ping-icons.woff2') format('woff2'),
    url('./fonts/ping-icons.woff') format('woff'),
    url('./fonts/ping-icons.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
[class^='pi-'],
[class*=' pi-'] {
  /* Use !important to prevent extensions from overriding this font. */
  font-family: 'Ping Icons' !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pi-user-circle:before {
  content: '\f000';
}
.pi-user-alt:before {
  content: '\f001';
}
.pi-terminal:before {
  content: '\f002';
}
.pi-swatchbook:before {
  content: '\f003';
}
.pi-square-terminal:before {
  content: '\f004';
}
.pi-shield-keyhole:before {
  content: '\f005';
}
.pi-share:before {
  content: '\f006';
}
.pi-share-square:before {
  content: '\f007';
}
.pi-share-alt:before {
  content: '\f008';
}
.pi-share-all:before {
  content: '\f009';
}
.pi-robot:before {
  content: '\f00a';
}
.pi-rectangle-terminal:before {
  content: '\f00b';
}
.pi-plus:before {
  content: '\f00c';
}
.pi-plus-large:before {
  content: '\f00d';
}
.pi-palette:before {
  content: '\f00e';
}
.pi-minus:before {
  content: '\f00f';
}
.pi-minus-large:before {
  content: '\f010';
}
.pi-key:before {
  content: '\f011';
}
.pi-key-skeleton:before {
  content: '\f012';
}
.pi-hourglass:before {
  content: '\f013';
}
.pi-font:before {
  content: '\f014';
}
.pi-files:before {
  content: '\f015';
}
.pi-file:before {
  content: '\f016';
}
.pi-file-zip:before {
  content: '\f017';
}
.pi-file-wav:before {
  content: '\f018';
}
.pi-file-video:before {
  content: '\f019';
}
.pi-file-vector:before {
  content: '\f01a';
}
.pi-file-upload:before {
  content: '\f01b';
}
.pi-file-text:before {
  content: '\f01c';
}
.pi-file-svg:before {
  content: '\f01d';
}
.pi-file-spreadsheet:before {
  content: '\f01e';
}
.pi-file-png:before {
  content: '\f01f';
}
.pi-file-pdf:before {
  content: '\f020';
}
.pi-file-music:before {
  content: '\f021';
}
.pi-file-mp4:before {
  content: '\f022';
}
.pi-file-mp3:before {
  content: '\f023';
}
.pi-file-mov:before {
  content: '\f024';
}
.pi-file-jpg:before {
  content: '\f025';
}
.pi-file-image:before {
  content: '\f026';
}
.pi-file-html:before {
  content: '\f027';
}
.pi-file-doc:before {
  content: '\f028';
}
.pi-file-css:before {
  content: '\f029';
}
.pi-file-code:before {
  content: '\f02a';
}
.pi-file-check:before {
  content: '\f02b';
}
.pi-file-brackets-curly:before {
  content: '\f02c';
}
.pi-file-audio:before {
  content: '\f02d';
}
.pi-file-arrow-up:before {
  content: '\f02e';
}
.pi-file-arrow-down:before {
  content: '\f02f';
}
.pi-file-archive:before {
  content: '\f030';
}
.pi-cog:before {
  content: '\f031';
}
.pi-code:before {
  content: '\f032';
}
.pi-code-simple:before {
  content: '\f033';
}
.pi-cloud-arrow-up:before {
  content: '\f034';
}
.pi-cloud-arrow-down:before {
  content: '\f035';
}
.pi-close:before {
  content: '\f036';
}
.pi-clipboard-list:before {
  content: '\f037';
}
.pi-circle-user-circle-plus:before {
  content: '\f038';
}
.pi-circle-up:before {
  content: '\f039';
}
.pi-circle-right:before {
  content: '\f03a';
}
.pi-circle-question:before {
  content: '\f03b';
}
.pi-circle-left:before {
  content: '\f03c';
}
.pi-circle-info:before {
  content: '\f03d';
}
.pi-circle-exclamation:before {
  content: '\f03e';
}
.pi-circle-down:before {
  content: '\f03f';
}
.pi-circle-arrow-up:before {
  content: '\f040';
}
.pi-circle-arrow-right:before {
  content: '\f041';
}
.pi-circle-arrow-left:before {
  content: '\f042';
}
.pi-circle-arrow-down:before {
  content: '\f043';
}
.pi-check:before {
  content: '\f044';
}
.pi-check-circle:before {
  content: '\f045';
}
.pi-caret-up:before {
  content: '\f046';
}
.pi-caret-right:before {
  content: '\f047';
}
.pi-caret-left:before {
  content: '\f048';
}
.pi-caret-large-up:before {
  content: '\f049';
}
.pi-caret-large-right:before {
  content: '\f04a';
}
.pi-caret-large-left:before {
  content: '\f04b';
}
.pi-caret-large-down:before {
  content: '\f04c';
}
.pi-caret-down:before {
  content: '\f04d';
}
.pi-arrow-up:before {
  content: '\f04e';
}
.pi-arrow-up-from-line:before {
  content: '\f04f';
}
.pi-arrow-up-from-dotted-line:before {
  content: '\f050';
}
.pi-arrow-up-from-bracket:before {
  content: '\f051';
}
.pi-arrow-up-from-arc:before {
  content: '\f052';
}
.pi-arrow-right:before {
  content: '\f053';
}
.pi-arrow-right-to-bracket:before {
  content: '\f054';
}
.pi-arrow-right-to-arc:before {
  content: '\f055';
}
.pi-arrow-right-from-bracket:before {
  content: '\f056';
}
.pi-arrow-right-from-arc:before {
  content: '\f057';
}
.pi-arrow-right-arrow-left:before {
  content: '\f058';
}
.pi-arrow-left:before {
  content: '\f059';
}
.pi-arrow-left-arrow-right:before {
  content: '\f05a';
}
.pi-arrow-down:before {
  content: '\f05b';
}
.pi-arrow-down-to-line:before {
  content: '\f05c';
}
.pi-arrow-down-to-dotted-line:before {
  content: '\f05d';
}
.pi-arrow-down-to-bracket:before {
  content: '\f05e';
}
.pi-arrow-down-to-arc:before {
  content: '\f05f';
}
.pi-user:before {
  content: '\f060';
}
.pi-angle-up:before {
  content: '\f061';
}
.pi-user-robot:before {
  content: '\f062';
}
.pi-angle-right:before {
  content: '\f063';
}
.pi-user-large:before {
  content: '\f064';
}
.pi-angle-left:before {
  content: '\f065';
}
.pi-user-hoodie:before {
  content: '\f066';
}
.pi-angle-down:before {
  content: '\f067';
}
